{% extends 'all-photos/base.html' %}

{% block content %}
{{block.super}}
{% endblock %}


<!DOCTYPE html><br /><html lang="en"><br /><head><br />  <meta charset="UTF-8"><br />  <title>My MDB Django Project</title><br /><br />  </head><br /><body><br /><br />  <div style="height: 100vh"><br />    <div class="flex-center flex-column"><br />      <h1 class="animated fadeIn mb-4">MDBootstrap loves Django <i class="fa fa-heart red-text"></i></h1><br />    </div><br />   </div><br /><br />  <br />    new WOW().init();<br />  </script><br /></body><br /></html>