{% extends 'all-photos/base.html' %}

{% block content %}
{{block.super}}
<style>
    span{
        font-size: 15px;
        font-family: 'Courier New', Courier, monospace

    }
    .thumbnail{
        border-radius: 40px;
    }
</style>
<div class="container">

        <div class="row">
                {% for image in images %}
                <div class="col-md-4">
                        <div class="thumbnail">
                                <div class="view overlay">
                                        <a   data-caption=" <span> Category :{{image.category}}</span> <br> Location:{{image.location}}         "  href="{{image.image.url}}"data-fancybox class="card-img-top" style='width:400px; height:600px'>
                                                <img class="img-responsive" style='width:400px; height:300px' src="{{image.image.url}}" alt="image">
                                                
                                            </a>
                                            <button class="btn btn-default" style="text-align:center;">Copy Link</button>
                                            <!-- <input type="text" value="{{image.image.url}}" id="imagelink">
                                            <button class="btn btn-default" onclick="copyimage()">copy</button> -->
                                </div>
                            <div>
                            
                            </div>
                                
                                
                            </div>
                </div>
            {% endfor %}
        </div>
</div>





{% endblock %}


