{%extends 'all-photos/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if categories %}
      <h2>Found {{ categories|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 images for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if categories %}
    {% for category in categories %}
      <div class="col-sm-6 col-md-3">
          <div class="card">
                <img src="{{category.image.url}}" alt="" class="card-img-top" style="width:400px;height:500px;margin-right:15px;">
          </div>
         
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}