<nav class="navbar navbar-dark default-color justify-content-between">
  <a class="navbar-brand" href="{%url 'welcome'%}">Clicks</a>
  <form class="form-inline my-1" action="{% url 'search_results' %}">
    <div class="md-form form-sm my-0">
      <input class="form-control form-control-sm mr-sm-2 mb-0" type="text" placeholder="Search By Category"
        aria-label="Search" name="category">
    </div>
    <button class="btn btn-outline-white btn-sm my-0" type="submit">Search</button>
  </form>
</nav>